/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

body {
  background: rgb(70, 10, 10);
  padding: 5%;
  color: rgb(255,255,255);
}

.heading-search {
  text-align: center;
  margin-top: 10vh;
}
.heading-search > h1 {
  font-size: 4rem;
  font-family: 'Tilt Prism', cursive;
  font-weight: 100;
}
.heading-search > input {
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 2rem;
  border: 1px solid yellow;
  border-radius: 1rem;
}
.heading-search > button {
  margin: 1.5rem;
  border: 3px solid yellow;
  background-color: rgb(90, 10, 10);
  color: white;
  width: 10rem;
  height: 5rem;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}
.heading-search > button:active {
  background-color: black;
}

#results {
  width: 100%;
  height: 39.5vh;
  border: 1px solid yellow;
  border-radius: 1rem;
  padding: 20px;
  overflow: auto;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}
#results button {
  display: block;
  height: 60px;
}
#results img {
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 40px;
}



@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
/*
.carousel:before,
.carousel:after {
  position: absolute;
  top: 0;
  width: 20vw;
  height: 100%;
  content:'';
  z-index: 2;
}
.carousel:before {
  left: 0;
  background: linear-gradient(to left, transparent, rgb(70,10,10));
}
.carousel:after {
  right: 0;
  background: linear-gradient(to right, transparent, rgb(70,10,10));
}
*/


.selection {
  margin-top: 5vh;
  position: relative;
}
.selection img {
  /* position: absolute; */
  float: right;
  height: 25vh;
  margin: 0 0 1rem 1rem;
}
.selection p {
  font-size: 1.5rem;
}
