/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

body {
  background: rgb(70, 10, 10);
  padding: 5%;
  color: rgb(255,255,255);
  --search-size: 250px;
}

.heading-search {
  text-align: center;
  margin-top: 5vh;
}
.heading-search > h1 {
  font-size: 4rem;
  font-family: 'Tilt Prism', Georgia, Times, 'Times New Roman', serif;
  font-weight: 100;
}
.heading-search > input {
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 2rem;
  border: 1px solid yellow;
  border-radius: 1rem;
}
.heading-search > button {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  border: 3px solid yellow;
  background-color: rgb(90, 10, 10);
  color: white;
  width: 10rem;
  height: 5rem;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}
.heading-search > button:active {
  background-color: black;
}

#results {
  width: 100%;
  height: calc(var(--search-size) + 4rem);
  border: 1px solid yellow;
  border-radius: 1rem;
  padding: 1rem 0;
  overflow: auto;
  display: flex;
  flex-wrap: nowrap;
}
#results button {
  display: block;
  height: var(--search-size);
  width: var(--search-size);
  margin: 0 1rem;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}
#results button:hover {
  box-shadow: 0 0 20px black;
}
#results img {
  display: inline-block;
  vertical-align: top;
  margin: 0 auto;
  width: var(--search-size);
  height: var(--search-size);
}
#results span {
  color: white;
  display: inline-block;
  margin-top: 0.5rem;
  font-weight: bold;
}

article {
  margin-top: 5vh;
  position: relative;
}
article img {
  float: right;
  height: 25vh;
  margin: 0 0 1rem 1rem;
}
article p {
  font-size: 1.5rem;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
/*
.carousel:before,
.carousel:after {
  position: absolute;
  top: 0;
  width: 20vw;
  height: 100%;
  content:'';
  z-index: 2;
}
.carousel:before {
  left: 0;
  background: linear-gradient(to left, transparent, rgb(70,10,10));
}
.carousel:after {
  right: 0;
  background: linear-gradient(to right, transparent, rgb(70,10,10));
}
*/