/******************************************
/* CSS
/*******************************************/

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  width:100vw;
  height:100dvh;
  background-image: url("bartop.jpg");
  background-size: cover;
  position: relative;
}
/*******************************************/
header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 1rem 5rem;
  border: 5px solid black;
  border-radius: 5rem;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  flex-direction: column;
}
header > h1 {
  font-size: 4rem;
  font-family: 'Sedan SC', Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  color: white;
  text-align: center;
}
header > input {
  display: block;
  font-size: 2rem;
  width: 100%;
  border: 3px solid black;
  border-radius: 1rem;
}
header > button {
  margin: 2rem auto;
  border: 3px solid black;
  background-color: rgba(60,20,20,0.9);
  font-family: Times, 'Times New Roman', serif;
  color: white;
  width: 10rem;
  height: 5rem;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}
header > button:active {
  background-color: black;
}
/*
body {
  background: rgb(70, 10, 10);
  padding: 5%;
  color: rgb(255,255,255);
  --search-size: 250px;
}

.heading-search {
  text-align: center;
  margin-top: 5vh;
}
.heading-search > h1 {
  font-size: 4rem;
  font-family: 'Tilt Prism', Georgia, Times, 'Times New Roman', serif;
  font-weight: 100;
}
.heading-search > input {
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 2rem;
  border: 1px solid yellow;
  border-radius: 1rem;
}
.heading-search > button {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  border: 3px solid yellow;
  background-color: rgb(90, 10, 10);
  color: white;
  width: 10rem;
  height: 5rem;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}
.heading-search > button:active {
  background-color: black;
}

.results { 
  width: 100%;
  height: calc(var(--search-size) + 4rem);
  border: 3px solid yellow;
  border-radius: 1rem;
  padding: 1rem 0;
  overflow: hidden;
}
.container {
  display: flex;
  justify-content: center;
}
.results button {
  display: block;
  height: var(--search-size);
  width: var(--search-size);
  margin: 0 1rem;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}
.results button:hover {
  box-shadow: 0 0 20px black;
}
.results img {
  display: inline-block;
  vertical-align: top;
  margin: 0 auto;
  width: var(--search-size);
  height: var(--search-size);
  pointer-events: none;
}
.results span {
  color: white;
  display: inline-block;
  margin-top: 0.5rem;
  font-weight: bold;
  pointer-events: none;
}
.results[data-animated=true] {
  -webkit-mask: linear-gradient(90deg, white, transparent .1%, white 15%, white 85%, transparent 99.9%, white);
  mask: linear-gradient(90deg, white, transparent .1%, white 15%, white 85%, transparent 99.9%, white);
}
.results[data-animated=true] .container {
  width: fit-content;
  animation: scroll 10s linear infinite;
}
.results[data-animated=true]:hover .container {
  animation-play-state: paused;
}

article {
  margin-top: 5vh;
  position: relative;
}
article img {
  float: right;
  height: 25vh;
  margin: 0 0 1rem 1rem;
}
article p {
  font-size: 1.5rem;
}

@keyframes scroll {
  to {
    transform: translateX(-50%);
  }
}
*/